.card{
    border-radius: 1.5rem;
    border: 0cap;
    background: white;
    border-style: solid;
    border-color: orange;
    border-width: 4px 4px 4px 4px;
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.cardImage{
    height: 50%;
    border: 20% 20% 20% 20%;
    flex: 1;
}

.projectImg{
    border-radius: 50% 50% 50% 50%;
    height: 50%;
    width: 100%;
    object-fit: cover;
    padding: 1rem 1rem;
    background: indigo;
    border-radius: 9999px;
} 

.cardText{
    flex: 1;
    height: 50vh;
    background: black;
}

.cardText>h2{
    padding-top: 1rem;
    
}