.card{
    border: 0cap;
    /* background: purple; */
    border-style: solid;
    /* border-color: rgb(30, 30, 30); */
    /* border-width: 5px 5px 5px 5px; */
    width: 50vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5vw;
    /* margin-left: 5vw; */
    
}
/* .cardImage{
    height: 50%;
    width: 100%;
    border: 20% 20% 20% 20%;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.projectImg{
    object-fit: contain ;
    height: 100%;
    width: 100%;
    /* padding: 0.5rem 0.5rem; */
    /* background: white;     */
    
}   

.imgWrap{
    position: relative;
}

.imgWrap>h2{
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    /* opacity: 0; */
    
}

.imgWrap>p{
    visibility: hidden;
}

.imgWrap:hover.imgWrap>h2{
    visibility: visible;
    opacity: 1;
}