.card{
    border: 0cap;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    width: 50vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5vw;
    
}


.projectImg{
    object-fit: contain ;
    height: 100%;
    width: 100%;
   
}   


.imgWrap{
    position: relative;
    text-align: center;
    display: inline-block;
}
.projectTitle{
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    opacity: 0;
    padding-top: 5rem;
    font-size: 3rem;
    
}


.projectDesc{
    visibility: hidden;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    opacity: 0;
    padding-top: 5rem;
}
.techStack{
    visibility: hidden;
    position: absolute;
    top: 55%;
    bottom: 5rem;
    left: 0;
    right: 0;
    background: grey;
    opacity: 0;
    padding-top: 5rem;
}

.imgWrap:hover.imgWrap>h1{
    visibility: visible;
    opacity: 1;
    
}

.imgWrap:hover.imgWrap>p{
    visibility: visible;
    opacity: 1;
}