#portfolio{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: rgb(30, 30, 30);
}

#portfolio>span{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 5vh;
}

#carouselContainer{
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 100%;
}



