.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color:rgb (30,30,30); */
    /* width: 50%; */
    /* height: 50vh; */
    margin-left: auto;
    margin-right: auto;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.linksHeader{
    margin-bottom: 10%;
    font-size: 3rem;
    font-weight: 800;
}

.mediaPic{
    border-radius: 9999px;
    
}