.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:cornflowerblue;
    /* width: 50%; */
    /* height: 50vh; */
    margin-left: auto;
    margin-right: auto;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}