.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    background-color: #232f3e;
    padding-bottom: 5%;
    padding-top: 5%;
}
.linksHeader{
    margin-bottom: 5%;
    font-size: 3rem;
    font-weight: 800;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}

#linkedinIcon, #githubIcon {
    width: 200px; /* Default size */
    height: 200px;
    transition: transform 0.3s ease;
}

#linkedinIcon:hover, #githubIcon:hover {
    transform: scale(1.5);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #linkedinIcon, #githubIcon {
        width: 100px; /* Smaller size for tablets */
        height: 100px;
    }
}

@media (max-width: 480px) {
    #linkedinIcon, #githubIcon {
        width: 75px; /* Even smaller size for mobile devices */
        height: 75px;
    }
}


