#techStack{
    /* max-width: 75%; */
    padding: 10%;
    text-align: center;
    margin: auto;
    font-size: 3em;
    font-weight: 800;
    padding-top: 10vh;   
}

#title{
    margin-bottom: 5%;
    
}

