.navbar {
    height: 10vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30, 30, 30);
}


.homepageMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.homepageMenuItem {
    margin: 1rem;
    cursor: pointer;
}
.homepageMenuItem:hover{
    color: cyan;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid cyan;
}

@media (max-width: 600px){
    .homepageMenu {
        flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    }

    .homepageMenuItem {
        margin: 0.3rem;
        font-size: 0.9rem;
    }
}