.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30, 30, 30);
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.homepageMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepageMenuItem {
    margin: 1rem;
    cursor: pointer;
}
.homepageMenuItem:hover{
    color: blue;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid blue;
}
