.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 0.75rem;
    background-color: rgb(30, 30, 30);
}

#headers{
    display: flex;
    flex-direction: column;
    text-align: center;
}