#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100vw;
    height: auto;
    margin : 0 auto;
    padding-top: 10vh;
    background: rgb(30, 30, 30);
}

.aboutMeTitle {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.aboutMeDescription {
    font-weight: 500;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.aboutMeBars{
    margin: 1.5rem;
    max-width: 80%;
    text-align: left;
}

.aboutMeBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 0.5rem;
}

.skillBarText{
    font-size: 1.15vw;
    font-weight: 200;
}

/* @media screen and (max-width:4000px) {
    .skillBarText>h2{
        font-size: 5vw;   
    }
    .skillBarText>p{
        font-size: 2vw;
    }
} */


@media screen and (max-width:1440px) {
    .skillBarText>h2{
        font-size: 2vw;   
    }
    .skillBarText{
        font-size: 1.15vw;
    }   
}


@media screen and (max-width:720px) {
    .skillBarText>h2{
        font-size: 4vw;
    }
    .skillBarText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>h2{
        font-size: 5vw;
    }
    .skillBarText>p{
        font-size: 3vw;
    }
    .skillBarImg{
        height: 2.5rem;
        width: 2.5rem;
    }
}